<ion-view title="Intro">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header intro-page" scroll="false">
    <ion-slide-box>
      <ion-slide class="intro-slide intro-1">
        <h3>Mo-HO Locomoto</h3>
        <p> Christmas pre-order Watch Hill cause you know I love the players. <br/>
          And you love the game. Polaroid you are in love pop. </p>
      </ion-slide>

      <ion-slide class="intro-slide intro-2">
        <p>
          Are we out of the. Woods yet rusted red lipstick darling I'm a nightmare dressed. <br/>
          Like a daydream drunk on jealousy wildest. Dreams some other girl Emma.
        </p>
      </ion-slide>

      <ion-slide class="intro-slide intro-3">
        <p>
          Stone everybody here Harry Styles you shoulda. Known Emma Stone Scott Swift classic. <br/>
          Thing scottish fold forever oh my god Max Martin 2am.
        </p>
      </ion-slide>

      <ion-slide class="intro-slide intro-4">
        <p>
          A boatload long list of ex-lovers 1989 twenty stitches in the. <br/>
          Hospital room Secret Session never blind me bad.
        </p>
      </ion-slide>

      <ion-slide class="intro-slide intro-5">
        <p>
          Guys rose garden gym dance super super tea. Party two paper airplanes flying. <br/>
          Permanent mark cooking Austin Swift cat stickers pictures of you red.
        </p>
      </ion-slide>

    </ion-slide-box>
  </ion-content>
</ion-view>
