<div class="modal">
    <ion-header-bar>
        <h1 class="title">LOGIN</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()"><i class="ion-ios7-close-outline"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div ng-controller="QRScanCtrl">
            <form ng-submit="saveQR()">
                <div class="list" padding="20">
                    <div class="item">
                        <p>Scan the QR Code in your Desktop Publisher Interface Page <br/>
                            To Login into Mo-HO App</p>
                    </div>
                    <!--Add QR Reader here-->
                    <label class="item">
                        <button class="button button-block button-positive" ng-click="scanQR()" >Scan QR</button>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</div>

