<ion-view title="Offer Approval">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false">
        <h1>Offer Approval</h1>

        <ion-pane ng-controller="CardsCtrl">
            <td-cards>
                <td-card ng-repeat="card in cards"
                         on-destroy="cardDestroyed($index)"
                         class="card-{{card.index}}"
                         ng-controller="CardCtrl">
                    <div class="card-content">
                        <div class="offer-name">{{ card.name }}</div>
                        <img class="offer-icon" ng-src="{{ card.icon }}">
                    </div>
                </td-card>
            </td-cards>
        </ion-pane>

    </ion-content>
</ion-view>
